<div class="container">
  <label for="employeeId"><b>Employee ID </b><span style="color: red">*</span></label>
  <input type="text" placeholder="Enter Employee ID" name="employeeId" [formControl]="empId" required>
  <div class="errorMsg" *ngIf="noEmployeeFound">
    EmployeeId id dose not exist, please enter correct ID
  </div>
  <div class="errorMsg" *ngIf="empId.touched && empId.hasError('required')">
    Please enter EmployeeId.
  </div>
  <button class="giveRideBtn" type="submit" [disabled]='empId.invalid' (click)="login('Give')">Give Ride</button>
  <button class="getRideBtn" type="submit" [disabled]='empId.invalid' (click)="login('Get')">Get Ride</button>
</div>
