.mat-table {
  width: 80% !important;
  margin-left: 70px
}

.filter {
  width: 20%;
  margin: 20px 20px;
}

.bookBtn {
  width: 100px;
}

.cancelBtn {
  width: 100px;
  background-color: red;
}

.availableRideTable {
  margin: 20px 10px;
  width: 98%;
}

.availableRides {
  background-color: white;
  width: 69%;
  float: left;
  clear: both;
}

.MyRideDetails {
  background-color: white;
  width: 30%;
  float: right;
}

.container {
  margin: 10px 10px;
}

.label {
  font-size: 16px;
}

.value {
  padding-left: 20px;
  font-size: 14px;
}
