nav {
  background-color: #666;
  height: 40px;
}

nav ul {
  list-style: none;
  margin: 0 auto;
}

nav ul li {
  float: right;
  display: inline;
}

nav a:link, nav a:visited {
  color: #fff;
  display: inline-block;
  padding: 10px 25px;
  height: 20px;
}

nav a:hover, nav a:active,
nav .active a:link, nav .active a:visited {
  background-color: #46A97D;
  text-shadow: none;

}

.addRideButton {
  margin-top: 5px;
  padding-top:10px;
  margin-left: 10px;
  height: 30px;
  width: 120px;
  float: left
}
