<mat-form-field class="padding-left-20">
    <mat-label>Vehicle Type</mat-label>
    <mat-select name="type" (selectionChange)=filterData($event)>
        <mat-option *ngFor="let type of types" [value]="type">
            {{type}}
        </mat-option>
    </mat-select>
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Emp ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="employee_name">
        <th mat-header-cell *matHeaderCellDef> Emp Name </th>
        <td mat-cell *matCellDef="let element"> {{element.employee_name}} </td>
    </ng-container>
    <ng-container matColumnDef="vehicleType">
        <th mat-header-cell *matHeaderCellDef> Vehicle Type </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicleType}} </td>
    </ng-container>
    <ng-container matColumnDef="vehicleNo">
        <th mat-header-cell *matHeaderCellDef> Vehicle No </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicleNo}} </td>
    </ng-container>
    <ng-container matColumnDef="vecantSeats">
        <th mat-header-cell *matHeaderCellDef> Vecant Seats </th>
        <td mat-cell *matCellDef="let element"> {{element.vecantSeats}} </td>
    </ng-container>
    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>
    <ng-container matColumnDef="pickUpPoint">
        <th mat-header-cell *matHeaderCellDef> PickUp Point </th>
        <td mat-cell *matCellDef="let element"> {{element.pickUpPoint}} </td>
    </ng-container>
    <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef> Destination </th>
        <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="secondary" *ngIf="element.state == ''"
                (click)="bookRide(element)">Book</button>
            <button mat-raised-button color="secondary" *ngIf="element.state == 'booked'"
                (click)="cancelRide(element)">Cancel</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [hidden]="row.vecantSeats == 0 || checkTime(row.time) ||row.id == loggedInUser.id">
    </tr>
</table>