body {
  background-image: url("./assets/infrrdGreyBG.jpg");
  color: #000305;
  font-size: 90%;
  line-height: 1.5;
  text-align: left;
}

.body {
  margin: 0 auto;
  width: 80%;
  clear: both;
}

.mainHeader {
  margin: 2% 0;
  height: 40px;
}

.headerText {
  color: #000305;
  float: left;
  margin: 5px 5px;
}

.mainHeader img {
  float: left;
  height: 50px;
  width: 50px;
}

a {
  text-decoration: none;
}

.errorMsg {
  color: #ff0000;
}

.errorMsgWidth {
  width: 100%;
}

.container {
  margin-right: 35%;
  margin-left: 35%;
  padding: 16px 0;
}

.cardTitle {
  margin-left: 10px;
  font-size: 20px;
}

.cardSubTitle {
  margin-left: 10px;
  font-size: 15px;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #46A97D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  cursor: not-allowed;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

table th {
  background: #46A97D;
  height: 30px;
  border: 1px solid black;
  font-weight: 700;
}

table td {
  background-color: #bdbdbd;
  height: 30px;
  border: 1px solid black;
  font-weight: 400;
}
